.App__container {
  width: calc(100% - 50px);
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.App__chart {
  display: flex;
  flex-direction: column;
  width: 47.5%;
  background-color: var(--light-background-color);
  border-radius: 12px;
  padding: 12px;
}

.App__chart-header {
  width: 100%;
  padding: 20px 0;
  font-size: 24px;
  color: var(--text-color);
  text-align: center;
}
